{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block main %}
	<main>
		<section class="product-container margin-inline-8 grid-center gap-8">
			{% for pizza in pizzas %}
				<section class="card">
					<h2>{{pizza.name}}</h2>
					<img class="card-img margin-block-end-4" src="{{asset('img/placeholder.png')}}" alt="">
					<button class="btn" onclick="window.location.href=' {{path('app_detail', {id: pizza.id})}}'">Details</button>
				</section>
			{% endfor %}
		</section>
		{# {{form_start(form)}}
		<h3>pizzas</h3>
			<ul class="pizza_orders"
				data-index="{{ form.pizza_orders|length > 0 ? form.pizza_orders|last.vars.name + 1 : 0 }}"
				data-prototype="{{ form_widget(form.pizza_orders.vars.prototype)|e('html_attr') }}"
			></ul>
		{{form_end(form)}} #}
	</main>
{% endblock %}
